.homepage-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin-bottom: -24px;
}

.homepage-container-bg-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage-content {
    position: absolute;
    right: 40px;
    top: 45%;
}

.homepage-content h2 {
    width: 900px;
    color: #FFFFFF;
    font-size: 80px;
    text-align: center;
}

.signup-button {
    display: block;
    margin: auto;
    background-color: #4672C4;
    font-size: 20px;
    padding: 4px 40px;
    color: #FFFFFF;
}

@media (max-width: 899px) {
    .homepage-content {
        transform: translateX(-50%);
        right: unset;
        top: 40%;
        left: 50%;
    }
    .homepage-content h2 {
        font-size: 56px;
        width: 600px;
    }
}

@media (max-width: 599px) {
    .homepage-content h2 {
        font-size: 40px;
        width: 450px
    }
}
@media (max-width: 425px) {
    .homepage-content {
        top: 35%;
    }
    .homepage-content h2 {
        width: 350px;
    }
}
