.footer-container {
    margin-top: 24px;
    background: rgb(244,224,162);
    background: linear-gradient(180deg, rgba(244,224,162,1) 0%, rgba(199,204,203,1) 50%, rgba(171,191,228,1) 100%);
}
.footer-text {
    color: #FFFFFF;
    padding: 32px;
    margin: 0;
    text-align: center;
}
