.header-container {
    background: rgb(218,227,243);
    background: linear-gradient(180deg, rgba(218,227,243, 0.9) 0%, rgba(176,194,230,0.9) 50%, rgba(194,209,236,0.9) 100%);
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.header-text {
    text-transform: uppercase;
    font-family: "Hallock Italic", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    padding: 32px;
    margin: 0;
}
.menu-toggle-button {
    background: rgb(187,154,47);
    background: linear-gradient(180deg, rgba(187,154,47,1) 0%, rgba(178,175,152,1) 50%, rgba(179,196,231,1) 100%);
    border: none;
    font-size: 20px;
    padding: 4px 40px;
    color: #FFFFFF;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.menu-dropdown {
    background: rgb(252,216,105);
    background: linear-gradient(180deg, rgba(252,216,105,1) 0%, rgba(201,200,183,1) 50%, rgba(189,204,234,1) 100%);
    width: 250px;
    padding: 32px 16px 32px;
    position: absolute;
    right: 16px;
    top: 125px;
}
.menu-dropdown-button {
    background: rgb(148,173,220);
    background: linear-gradient(180deg, rgba(148,173,220,1) 0%, rgba(162,184,225,1) 50%, rgba(173,192,228,1) 100%);
    border: none;
    font-size: 20px;
    padding: 4px 40px;
    color: #FFFFFF;
    width: 100%;
}
.menu-dropdown-button:not(:first-of-type) {
    margin-top: 8px;
}

@media (max-width: 1199px) {
    .header-text {
        font-size: 30px;
        padding: 24px;
    }
}

@media (max-width: 899px) {
    .header-text {
        font-size: 24px;
        padding-right: 72px;
    }
}

@media (max-width: 599px) {
    .header-text {
        font-size: 20px;
    }
    .menu-dropdown {
        width: 200px;
    }
    .menu-dropdown-button {
        padding: 4px 20px;
    }
}
