.admin-navigation {
    margin-top: 124px;
    background-color: #ADC0E5;
}

.navigation-list {
    padding: 80px 8px 8px;
    height: 100vh;
    list-style: none;
}
.side-navigation-item {
    margin-top: 16px;
}
@media (max-width: 1199px) {
    .admin-navigation {
        margin-top: 93px;
    }
}
@media (max-width: 899px) {
    .admin-navigation {
        margin-top: 84px;
    }
}
@media (max-width: 599px) {
    .admin-navigation {
        margin-top: 106px;
    }
    .navigation-list {
        height: auto;
        padding-top: 8px;
        display: flex;
    }
    .side-navigation-item {
        flex-grow: 1;
        padding: 4px;
        margin-top: 0;
    }
}
@media (max-width: 432px) {
    .admin-navigation {
        margin-top: 136px;
    }
}
