* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
}
:root {
    --primary-blue: #4672C4;
    --primary-text-color: #FFFFFF;
    --sm: 600px;
    --md: 900px;
    --lg: 1200px;
    --xl: 1536px;
    --mobile: 767px;
    --tablet: 1024px;
    --desktop: 1366px;
}

@font-face {
    font-family: 'Hallock Italic';
    src: url('../fonts/hallock-italic.ttf');
}
