@media print {
    body.estimation-modal {
        margin: 24px;
    }
    strong {
        display: block;
        margin-top: 32px;
    }
    [data-hide-on-media-print="true"] {
        display: none;
    }
}
