{% extends 'base.html.twig' %}

{% block title %}Ginger Floppy Birds Construction Builder{% endblock %}

{% block body %}
    <div id="gfbcb-app"></div>
{% endblock %}

{% block javascripts %}
    {% include 'gfbcb.html.twig' %}
    {{ parent() }}
{% endblock %}
