.calculator-container {
    min-height: 100vh;
    background-color: #FFFFFF;
    position: relative;
    padding-top: 110px;
}
.what-do-you-want-to-build-text {
    text-align: center;
    color: #416FC3;
    margin-top: 40px;
}
.carousel-container {
    width: 1024px;
    justify-content: space-between;
    margin: auto;
}

.carousel-item-container {
    width: 300px;
    height: 300px;
    border: 24px solid white;
}

.carousel-text {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #395EA3;
}
.calculator-form-container {
    background-color: white;
    width: 991px;
    margin: 16px auto auto;
    padding: 24px;
}

.calculator-container + .footer-container {
    margin-top: 16px;
}
@media (max-width: 1199px) {
    .carousel-container {
        width: 900px;
    }
    .carousel-item-container {
        width: 250px;
        height: 250px;
    }
    .calculator-form-container {
        width: 900px;
    }
}
@media (max-width: 899px) {
    .carousel-container {
        width: 600px;
    }
    .calculator-form-container {
        width: 600px;
    }
}
@media (max-width: 599px) {
    .carousel-container {
        width: 100%;
    }
    .calculator-form-container {
        width: 100%;
    }
}
