.admin-page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.side-navigation-container {
    width: 15%;
}

.main-content-container {
    width: 85%;
    margin-top: 124px;
}

.salutation-container {
    text-align: center;
}

.dynamic-content-container {
    padding: 24px;
}

@media (max-width: 599px) {
    .side-navigation-container {
        width: 100%;
    }
    .main-content-container {
        width: 100%;
        margin-top: 0;
    }
}
